.button-create {
  margin: 5% 0 2% 90%;
  background-color: #2e8ff0;
  color: white;
  border-radius: 6px;
  border: none;
  width: 120px;
  height: 46px;
}

.button-create:hover {
  background-color: lightblue;
}
